=form_for @band do |f|
  =f.label :name
  =f.text_field :name

  =f.label :photo
  =f.text_field :photo

  =f.label :genre
  =f.text_field :genre

  =f.label :location
  =f.text_field :location

  =f.label :email
  =f.text_field :email

  =f.label :member_since
  =f.text_field :member_since

  =f.label :influences
  =f.text_field :influences

  =f.label :sounds_like
  =f.text_field :sounds_like

  =f.label :record_label
  =f.text_field :record_label

  =f.label :type_of_label
  =f.text_field :type_of_label

  =f.label :profile_views
  =f.number_field :profile_views

  =f.label :last_login
  =f.text_field :last_login

  =f.label :css
  =f.text_area :css

  =f.submit "Save"