@import "variables";

#mainwrap {
  margin-bottom: 2.5rem;
}
#audio1 {
  display: none;
}
.audio-top {
  display: flex;
  background: $gray;
  background: -webkit-linear-gradient(white, $gray, white);
  background: -o-linear-gradient(white, $gray, white);
  background: -moz-linear-gradient(white, $gray, white);
  background: linear-gradient(white, $gray, white);
  padding: 0.5rem;
  position: relative;
  &::before {
    position: absolute;
    content: image-url('audio/dancing-volume.jpg');
    display: block;
    height: 100%;
    width: 100%;
    top: 2.5rem;
    left: 36rem;
  }
}
.playing-container {
  background: $audio-black;
  border-radius: 0.5rem;
  color: white;
  font-size: 10px;
  padding: 0.5rem 1rem;
  width: 21.5rem;
}
#tracks {
  width: 20rem;
  img {
    cursor: pointer;
    max-height: 3.5rem;
    padding-right: 0.5rem;
  }
}
#npTitle {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.audio-container #mainwrap {
  border: .1rem solid rgb(38,38,38);
}
#songData {
  display: none;
}
#pButton{
  height:60px;
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-position: center;
}
#totalplays {
  background: rgb(38,38,38);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
}
#plwrap {
  background: #fff;
  display: flex;
  .cover-art {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 209, 209);
    padding: 1rem;
  }
}
#plList {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    border-bottom: 1px dashed gray;
    &:last-child {
      border-bottom: none;
    }
  }
}
.plTitle {
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 28rem;
  &:after {
    content: 'Download | Rate | Comments | Lyrics | Add';
    position: absolute;
    bottom: 0;
    left: 1rem;
    color: gray;
    font-size: 1rem;
  }
}
.volume-container {
  display: flex;
}
.volume {
  margin-top: 0.5rem;
}
#volume-icon {
  padding: 0.5rem 0.5rem 0;
}
#volume-indicator {
  margin-left: 0.5rem;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: $audio-black;
  margin: 0;
  width: 16rem;
  &:focus {
    outline: none;
  }
}
input[type=range]::-webkit-slider-runnable-track {
  width: 16rem;
  height: 0.5rem;
  color: $audio-green;
  cursor: pointer;
  box-shadow: 1px 1px 1px white, 0px 0px 1px #0d0d0d;
  background: $audio-black;
}
input[type=range]::-webkit-slider-thumb {
  background: image-url("audio/volume-slider") center no-repeat;
  height: 1rem;
  width: 2.2rem;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.3rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $audio-black;
}
input[type="range"]::-moz-range-progress {
  background-color: $audio-green; 
}
input[type=range]::-moz-range-track {
  width: 16rem;
  height: 0.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 1px white, 0px 0px 1px #0d0d0d;
  background: $audio-black;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  background: image-url("audio/volume-slider") center no-repeat;
  height: 1rem;
  width: 2.2rem;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 16rem;
  height: 0.5rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $audio-black;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px white, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: $audio-green;
  border: 0.2px solid #010101;
  box-shadow: 1px 1px 1px white, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  background: image-url("audio/volume-slider") center no-repeat;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
#track-seek::-webkit-slider-thumb {
  background: image-url("audio/track-slider") center no-repeat;
  height: 1rem;
  width: 2.2rem;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.3rem;
}
#track-seek::-moz-range-thumb {
  background: image-url("audio/track-slider") center no-repeat;
  height: 1rem;
  width: 2.2rem;
  cursor: pointer;
}