@import "variables";

#mainwrap {
  margin-bottom: 2.5rem;
}
#audio1 {
  display: none;
}
.audio-top {
  display: flex;
  background: $gray;
  background: -webkit-linear-gradient(white, $gray, white);
  background: -o-linear-gradient(white, $gray, white);
  background: -moz-linear-gradient(white, $gray, white);
  background: linear-gradient(white, $gray, white);
  padding: 0.5rem;
  position: relative;
  &::before {
    position: absolute;
    content: image-url('audio/dancing-volume.jpg');
    display: block;
    height: 100%;
    width: 100%;
    top: 2.5rem;
    left: 36rem;
  }
}
.playing-container {
  background: #362F2F;
  border-radius: 0.5rem;
  color: white;
  font-size: 10px;
  padding: 0.5rem 1rem;
  width: 21.5rem;
}
#tracks {
  width: 20rem;
  img {
    cursor: pointer;
    max-height: 3.5rem;
    padding-right: 0.5rem;
  }
}
#npTitle {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.audio-container #mainwrap {
  border: .1rem solid rgb(38,38,38);
}
#songData {
  display: none;
}
#pButton{
  height:60px;
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-position: center;
}
#totalplays {
  background: rgb(38,38,38);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
}
#plwrap {
  background: #fff;
  display: flex;
  .cover-art {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 209, 209);
    padding: 1rem;
  }
}
#plList {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    border-bottom: 1px dashed gray;
    &:last-child {
      border-bottom: none;
    }
  }
}
.plTitle {
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 28rem;
  &:after {
    content: 'Download | Rate | Comments | Lyrics | Add';
    position: absolute;
    bottom: 0;
    left: 1rem;
    color: gray;
    font-size: 1rem;
  }
}
