$dark-blue: rgb(102, 153, 204);
$medium-blue: #b1d0f0;
$light-blue: rgb(213, 232, 251);
$link-blue: #003399;

$dark-orange: #f60;
$orange: #FF9933;
$light-orange: #F9D6B4;

$red: rgb(153, 0, 51);
$link-hover-red: #C00;

$audio-black: #362F2F;
$gray: #ACACAC;