@import "variables";

.page-container {
  width: 850px;
  margin: auto;
  background-color: white;
}
// main navigation thingie
.top-nav {
  ul {
    list-style: none;
    background-color: $red;
    text-align: right;
    padding: 0;
    margin: 0;
  }
  li {
    line-height: 20px;
    height: 20px;
    text-align: center;
    width: 100px;
    border-bottom: none;
    display: inline-block;
  }
  a {
    display: block;
    &:hover {
      background-color: transparent;
    }
  }
}

.left-container {
	padding: 1rem 2.5rem;
	width: 30rem;
}
.right-container {
  padding-top: 2rem;
	width: 45.04rem;
}
.band-show {
	display: flex;
}
.band-container {
	display: flex;
	flex-direction: column;
}
.band-img-container {
  display: flex;
  img {
    border: 1px solid #000;
    max-height: 20rem;
  }
  p {
    margin-top: 0;
  }
}
.band-status {
  padding: 0 1rem;
}

// Audio Player
.playing-container {
  background: #362F2F;
  border-radius: 0.5rem;
  color: white;
  font-size: 10px;
  padding: 0.5rem 1rem;
  width: 21.5rem;
}
#audio1 {
  display: none;
}
.audio-top {
  display: flex;
  background: $gray;
  background: -webkit-linear-gradient(white, $gray, white);
  background: -o-linear-gradient(white, $gray, white);
  background: -moz-linear-gradient(white, $gray, white);
  background: linear-gradient(white, $gray, white);
  padding: 0.5rem;
  position: relative;
  &::before {
    position: absolute;
    content: image-url('audio/dancing-volume.png');
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}
#tracks {
  width: 20rem;
  img {
    cursor: pointer;
    max-height: 3.5rem;
    padding-right: 0.5rem;
  }
}
#npTitle {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.audio-container #mainwrap {
  border: .1rem solid rgb(38,38,38);
}
#songData {
	display: none;
}
#pButton{
  height:60px;
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-position: center;
}
#totalplays {
  background: rgb(38,38,38);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
}
#plwrap {
  background: #fff;
  display: flex;
  .cover-art {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 209, 209);
    padding: 1rem;
  }
  #plList {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      color: blue;
      text-decoration: underline;
      cursor: pointer;
      border-bottom: 1px dashed gray;
      &:last-child {
        border-bottom: none;
      }
    }
    .plTitle {
      padding: 1rem 1rem 2rem 1rem;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 28rem;
      &:after {
        content: 'Download | Rate | Comments | Lyrics | Add';
        position: absolute;
        bottom: 0;
        left: 1rem;
        color: gray;
        font-size: 1rem;
      }
    }
  }
}

// band edit page
#band-edit-page {
  input[type='text'], textarea {
    width: 30rem;
  }
  label {
    margin-top: 1rem;
  }
}