.band-show {
	display: flex;
}
.band-container {
	display: flex;
	flex-direction: column;
}
.contact-info{
	display: flex;
}
#songData {
	display: none;
}
#pButton{
  height:60px;
  width: 60px;
  border: none;
  background-size: 50% 50%;
  background-position: center;
}
.play {
	background: url('../images/play.png') no-repeat;
}
.pause {
	background: url('../images/pause.png') no-repeat;
}