.friends {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
.friend {
  width: 25%;
}
.friend-name {
  text-align: center;
}
.friend-img {
  padding: 0 1rem;
  max-height: 12rem;
  max-width: 9rem;
}