@import "variables";

html {
  font-size: 62.5%;
}

body {
  background-color: #e5e5e5;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  line-height: 18px;
}

h1, h2, h3, td {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 12pt;
}

h2 {
  color: white;
  font-size: 9pt;
  font-weight: bold;
  margin: 0;
  padding: 0.1rem 1rem 0rem;
}

h3 {
  color: #369;
  font-size: 8pt;
}

h4, a {
  font-weight: bold;
  text-decoration: none;
  color: $link-blue;
  cursor: pointer;
  &:hover, &:focus {
    color: $link-hover-red;
    text-decoration: underline;
  }
}

main {
  display: flex;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8pt;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

td {
  padding: 0.5rem;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
input[type='text'], textarea {
  padding: .7rem;
}

.blue-title {
  background: $dark-blue;
}
.blue-table-title {
  background-color: $medium-blue;
}
.blue-table-content {
  background-color: $light-blue;
}
.orange-title {
  background: $light-orange;
  h2 {
    color: $dark-orange;
  }
}
.orange-table-title {
  background: $orange;
}
.orange-table-content {
  background: $light-orange;
}
table.contact-info, table.upcoming-shows {
  margin-bottom: 2.5rem;
}
.blue-table {
  border: 0.2rem solid $dark-blue;
}
.contact-info {
  width: 30rem;
}
.upcoming-shows {
  width: 45.04rem;
}